.productImageTag--main{
    max-width: 148px;
}

.searchBarContainer .searchBarInnerContainer .autoCompleteOuterContainer :global(.vtex-input-prefix__group){
    border: 1px solid #20211D;
    border-radius: 0;
}

.searchBarContainer .searchBarInnerContainer .autoCompleteOuterContainer :global(.vtex-input-prefix__group) :global(.vtex-input__suffix){
    background-color: #20211D;
    border-radius: 0;
    
}

.searchBarContainer .searchBarInnerContainer .autoCompleteOuterContainer :global(.vtex-input-prefix__group) :global(.vtex-input__suffix) .searchIcon{   
    color: #fff;
}

.searchBarIcon--search{
    padding-right: 0;
}

.searchBarContainer{
    display: flex;
    align-items: center;
}

.discountInsideContainer {
    background-color: #70A73B;
    font-size: 16px;
    position: relative;
    float: left;
}

.discountContainer {
    border-top: 1px solid #BBBBBC;
}