.productImageTag--imageProductShelf--main{
    max-width: 148px;
}

.searchBarContainer .searchBarInnerContainer .autoCompleteOuterContainer :global(.vtex-input-prefix__group){
    border: 1px solid #20211D;
    border-radius: 0;
}

.searchBarContainer .searchBarInnerContainer .autoCompleteOuterContainer :global(.vtex-input-prefix__group) :global(.vtex-input__suffix){
    background-color: #20211D;
    border-radius: 0;
    
}

.searchBarContainer .searchBarInnerContainer .autoCompleteOuterContainer :global(.vtex-input-prefix__group) :global(.vtex-input__suffix) .searchIcon{   
    color: #fff;
}

.searchBarIcon--search{
    padding-right: 0;
}

.searchBarContainer{
    display: flex;
    align-items: center;
}

.discountInsideContainer {
    background-color: #70A73B;
    font-size: 16px;
    position: relative;
    float: left;
}

.discountContainer {
    border-top: 1px solid #BBBBBC;
}

.imageElement--bannerSearch{
    width: 100vw;
}

.productBrand {
    color: #5B5B5F;
    font-size: 24px;
}

.productDescriptionText {
    font-size: 13px;
    color: #5B5B5F;
    padding-bottom: 20px;
}

.productDescriptionTitle {
    display: none;
}

.specificationsTableContainer {
    display: block;
    padding: 0;
}

.specificationsTableRow {
    display: flex;
    flex-direction: column;
    border: 1px solid #CA6231;
}

.specificationsTitle,
.specificationsTableHead {
    display: none;
}

.specificationsTableRow .specificationItemProperty {
    width: 100%;
    background-color: #CA6231;
    align-items: center;
    color: #fff;
    display: flex;
    justify-content: center;
}

.specificationsTableRow .specificationItemSpecifications {
    width: 100%;
}

.productBrandLogoWrapper--MarcaProducto,
.productBrandLogo--MarcaProducto{
    height: auto !important;
}

.imageElement--logo-medios-pay{
    width: 97px;
}

@media screen and (max-width: 800px) {
    .imageElement--carousel{
        max-height: 100%;
    }
}

.productImagesThumb--imageProductPDP{
    border-bottom: 1px solid #BBBBBC;
}

.productImagesThumb--imageProductPDP:last-child{
    border-top: 1px solid #BBBBBC;
}

.productImagesThumbCaret--imageProductPDP .caretIcon--imageProductPDP{
    background: url("assets/icons/DownSearch.svg");
    width: 16px;
    height: 16px;
    content: "";
    background-position: 50%;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    display: flex;
    font-size: 0;
    color: transparent;
}

.gradientBaseTop .caretIcon--imageProductPDP{
    background: url("assets/icons/DownSearch.svg");
    width: 16px;
    height: 16px;
    content: "";
    background-position: 50%;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    display: flex;
    font-size: 0;
    transform: rotate(180deg);
    color: transparent;
}

.productBrandLogo--MarcaProducto{
    max-width: 70px;
    padding: 5px 0;
}

.imageElement--logo-footer-medios-pago-col2{
    margin-left: -8px;
}

@media screen and (max-width: 500px) {
    .productBrand {
        color: #5B5B5F;
        font-size: 16px;
        font-weight: 600;
    }
}