:global(.vtex-flex-layout-0-x-flexRowContent--add-to-cart) .buttonText--AgragarVitrina,
.buttonDataContainer--AgragarVitrina .buttonText--AgragarVitrina{
    color: #fff;
    font-size: 13.66px;
    text-transform: initial;
    font-weight: 600;
}

:global(.vtex-flex-layout-0-x-flexRowContent--buy-button) :global(.vtex-button){
    color: #fff;
    font-size: 21px;
    text-transform: initial;
    background-color: #CA6231;
    border: 0;
    border-radius: 0;
    white-space: pre;
}