.headerContainer--newsletter{
    background-color: #ffdf00;
    border-radius: 0;
}

.paper--newsletter{
    border-radius: 0;
}

.contentContainer--newsletter{
    padding-left: 60px;
}

.container--newsletter{
    background-color: rgba(0, 0, 0, 0.582);
}