.brandName {
    font-size: 11.72px;
    text-align: left;
    color: #5B5B5F;
    display: flex;
}

.productBrandContainer{
    display: flex;
    border-bottom:1px solid #BBBBBC ;
}

.clearLink {
    text-decoration: none;
}

.productBrandLogoWrapper {
    height: initial !important;
}

.productBrandLogo {
    display: flex;
    height: 25px !important;
}

.nameContainer {
    padding: 20px 0;
    justify-content: initial;
}

.brandName {
    font-size: 14px;
}

.element {
    /*border-top: 1px solid #BBBBBC;*/
}