.productImageTag--main{
    max-width: 148px;
}

.searchBarContainer .searchBarInnerContainer .autoCompleteOuterContainer :global(.vtex-input-prefix__group){
    border: 1px solid #20211D;
    border-radius: 0;
}

.searchBarContainer .searchBarInnerContainer .autoCompleteOuterContainer :global(.vtex-input-prefix__group) :global(.vtex-input__suffix){
    background-color: #20211D;
    border-radius: 0;
    
}

.searchBarContainer .searchBarInnerContainer .autoCompleteOuterContainer :global(.vtex-input-prefix__group) :global(.vtex-input__suffix) .searchIcon{   
    color: #fff;
}

.searchBarIcon--search{
    padding-right: 0;
}

.searchBarContainer{
    display: flex;
    align-items: center;
}

.discountInsideContainer {
    background-color: #70A73B;
    font-size: 16px;
    position: relative;
    float: left;
}

.discountContainer {
    border-top: 1px solid #BBBBBC;
}

.imageElement--bannerSearch{
    width: 100vw;
}

.productBrand {
    color: #5B5B5F;
    font-size: 24px;
}

.productDescriptionText {
    font-size: 13px;
    color: #5B5B5F;
}

.productDescriptionTitle {
    display: none;
}

.specificationsTableContainer {
    display: block;
    padding: 0;
}

.specificationsTableRow {
    display: flex;
    flex-direction: column;
    border: 1px solid #CA6231;
}

.specificationsTitle,
.specificationsTableHead {
    display: none;
}

.specificationsTableRow .specificationItemProperty {
    width: 100%;
    background-color: #CA6231;
    align-items: center;
    color: #fff;
    display: flex;
    justify-content: center;
}

.specificationsTableRow .specificationItemSpecifications {
    width: 100%;
}

.productBrandLogoWrapper--MarcaProducto,
.productBrandLogo--MarcaProducto{
    height: auto !important;
}