.flexRowContent--container-tab-shelf,
.flexRowContent--Slider-and-Text {
    max-width: 1200px;
    margin: 0 auto;
    padding-right: 20px;
    padding-left: 20px;
}

.flexRowContent--Slider-and-Text .flexColChild--image {
    justify-content: end;
    display: flex;
}

.flexRowContent--Slider-and-Text .flexColChild--image2 {
    justify-content: start;
    display: flex;
}

.flexRowContent--add-to-cart :global(.vtex-button) {
    border: 0;
    background-color: #CA6231;
    border-radius: 0;
}

.flexRowContent--add-to-cart {
    justify-content: space-between;
}

.flexCol--SeguirComprando {
    flex-direction: column-reverse;
    margin-bottom: 20px;
}

.flexRowContent--SeguirComprando {
    padding: 0 20px;
}

.flexColChild--SeguirComprando:first-child {
    width: 100%;
    text-align: end;
}

.flexRowContent--qttyPrice-row {
    flex-direction: column;
}

.flexRowContent--qttyPrice-row .stretchChildrenWidth:first-child {
    width: 100% !important;
}

.flexCol--col-one-header {
    flex-direction: row;
}

.flexColChild--wishlist :global(.vtex-menu-2-x-styledLinkContent)::before {
    background: url("assets/icons/WishlistHeader.svg");
    width: 17px;
    height: 17px;
    content: "";
    background-position: 50%;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    margin-right: 10px;
    display: flex;
}

.flexColChild--orders :global(.vtex-menu-2-x-styledLinkContent)::before {
    background: url("assets/icons/pedidosHeader.svg");
    width: 17px;
    height: 17px;
    content: "";
    margin-right: 10px;
    background-position: 50%;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    display: flex;
}

.flexColChild--whatsapp :global(.vtex-menu-2-x-styledLinkContent)::before {
    background: url("assets/icons/whatsappHeader.svg");
    width: 15px;
    height: 15px;
    content: "";
    background-position: 50%;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    margin-right: 10px;
    display: flex;
}

.flexCol--orders,
.flexCol--whatsapp,
.flexCol--wishlist {
    justify-content: center;
}

.flexColChild--orders :global(.vtex-menu-2-x-styledLinkContent),
.flexColChild--whatsapp :global(.vtex-menu-2-x-styledLinkContent),
.flexColChild--wishlist :global(.vtex-menu-2-x-styledLinkContent) {
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
}

.flexCol--logo-two {
    justify-content: center;
    padding: 0 20px;
}

.flexRowContent--main-header {
    background-color: #fff;
}

.flexRowContent--Footer-Xtrategik {
    justify-content: start;
    max-width: 1200px;
    margin: 0 auto;
    border-top: 1px solid #BBBBBC;
}

.flexRow--FourImage{
    padding-bottom: 20px;
}

.flexRowContent--FourImage {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.flexRowContent--Footer-Xtrategik-CT {
    align-items: center;
    gap: 10px;
}

.flexCol--info-pdp{
    padding-left: 20px;
}

.flexRow--notification {
    background-color: #CA6231;
}

.flexRowContent--notification {
    max-width: 1200px;
    margin: 0 auto;
    justify-content: space-around;
}

.flexColChild--col-two-header:last-child {
    width: 100%;
}

.flexRow--row-two-header {
    background-color: #20211D;
}

.flexRowContent--Footer-subText,
.flexRowContent--tienda-terminos-legales {
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 24px;
    padding-right: 24px;
}

.flexRowContent--tienda-terminos-legales {
    padding-top: 30px;
}

.flexCol--CamposFormFooterRed {
    align-items: flex-end;
}

.flexRowContent--RedesFooter {
    gap: 6px;
}

.flexRowContent--sitio-seguro {
    align-items: center;
}

.flexRowContent--slider-main-carrousel {
    margin-top: 20px;
}

.flexCol--newsletterInputCheck .flexColChild--newsletterInputCheck:last-child {
    justify-content: flex-end;
    display: flex;
}

.flexCol--CamposFormFooter .flexColChild--CamposFormFooter {
    width: 100%;
}

.flexCol--newsletterInput {
    gap: 10px;
    padding-bottom: 20px;
}

.flexCol--headerMenu {
    align-items: start;
}

.flexRowContent--menu-header {
    gap: 20px;
}

.flexCol--filterCol {
    max-width: 394px;
    min-width: 230px;
}

.flexCol--filterCol .flexColChild--filterCol {
    height: auto !important;
}

.flexRow--slider-main-brands{
    margin: auto;
    max-width: 1140px;
}

.flexRow--contentPLP-container,
.flexRow--breadcrumb-container{
    max-width: 1180px;
    min-width: 1180px;
    margin: 0 auto;
}

.flexRow--bannerSearch :global(.vtex-store-components-3-x-container){
    padding: 0;
    margin: 0;
    max-width: 100%;
}

.flexRow--searchFlotante{
    position: fixed;
    top: 40%;
    padding: 0 0 0 0;
    right: 0;
    z-index: 999;
  }
  
  .flexRow--searchFlotante :global(.vtex-store-components-3-x-container){
    padding: 0;
  }

  .flexRow--productSpecifitation,
  .flexRow--pdpRecomendation,
  .flexRow--product-main,
  .flexRow--description,
  .flexRow--product-breadcrumb{
    max-width: 1180px;
    margin: 0 auto;
  }

  .flexRowContent--buy-button .stretchChildrenWidth:first-child{
    justify-content: center;
  }

  .flexRowContent--list-price-savings{
    align-items: center;
  }

  .flexRowContent--errorMain,
  .flexRowContent--notfound{
    max-width: 1150px;
    margin: 0 auto;
  }

  .flexRow--errorMain{
    background-color: #000;
  }

  .flexColChild--error-one :global(.vtex-store-components-3-x-imageElement--notfound){
    background-color: #fff;
    max-width: 326px;
    max-height: 50px;
  }

  .flexCol--error-one{
    justify-content: center;
    align-items: flex-end;
  }

  .flexColChild--error-one:first-child{
    width: 100%;
  }

  .flexColChild--col-two-header:first-child .flexRow--row-one-header{
    max-width: 1200px;
    margin: 0 auto;
  }
  .flexColChild--col-two-header:first-child {
    width: 100%;
  }

  .flexRowContent--row-one-header{    
    justify-content: space-between;
  }

  .flexRow--BannerContact,
  .flexRow--mainContenedorP,
  .flexRowContent--textosContactenosP{
    max-width: 1160px;
    margin: 0 auto;
  }

  .flexRow--textosContactenosP{
    background-color: #F6F6F7;
  }
  

  .flexRow--ContenedorP :global(.vtex-store-components-3-x-container ){
    padding: 0;
    margin: 0;
    max-width: 100%;
  }

  .flexRowContent--row-two-header{
    max-width: 1200px;
    margin: 0 auto;
  }

  .flexRow--tienda-terminos-legales{
    background-color: #ECEDEF ;
  }

  .flexRowContent--product-main{
    background: linear-gradient(to right, white 0%, white 50%, #F6F6F7 50%, #F6F6F7 100% );
  }

  .flexRowContent--mainContenedorP :global(.vtex-textarea__label),
.flexRowContent--mainContenedorP :global(.vtex-input__label){
  display: none;
}

.flexRowContent--mainContenedorP :global(.vtex-input-prefix__group){
  margin: 10px 0;
  border-color: #CA6231;
}


.flexColChild--textosContactenos {
    display: flex;
    align-items: center;
}

.flexCol--ContactenosDer :global(.vtex-textarea__input){
    border-color: #CA6231;
}

@media screen and (max-width: 800px) {
    .flexRowContent--Slider-and-Text{
        flex-direction: column;
    }

    .flexRowContent--Slider-and-Text .stretchChildrenWidth   {
        width: 100% !important;
    }
}