.outline{
    background: url("assets/icons/iconWishlist.svg") !important;
    background-position: center !important;
    width: 19px !important;    
    height: 17px !important;
}

.wishlistIconContainer{
    display: flex;
    justify-content: end;
}

:global(.vtex-flex-layout-0-x-flexRowContent--botonFavoritos) .wishlistIconContainer{
    justify-content: start;
}

:global(.vtex-flex-layout-0-x-flexRowContent--botonFavoritos) .wishlistIconContainer :global(.vtex-button)::after {
    content: "Agregar a tu lista de deseos";
    font-size: 13px;
    text-transform: initial;
    display: flex;
    color: #000;
    margin-left: 5px;
}

:global(.vtex-flex-layout-0-x-flexRowContent--botonFavoritos) .wishlistIconContainer :global(.vtex-button) {
    display: flex;
    align-items: center;
}

.wishlistIconContainer :global(.vtex-button__label) {
    min-height: 30px;
    padding: 0 !important;
    letter-spacing: -1px;
    font-weight: bold;
    background: transparent !important;
    background-color: transparent !important;
    border: none;
}
.wishlistIconContainer :global(.vtex-button__label):hover {
    min-height: 30px;
    padding: 0 !important;
    letter-spacing: -1px;
    font-weight: bold;
    background: transparent !important;
    background-color: transparent !important;
    border: none;
}
.wishlistIconContainer :global(.vtex-button) {
    background: transparent !important;
}

:global(.vtex-flex-layout-0-x-flexRowContent--botonFavoritos) .wishlistIconContainer :global(.vtex-button) :global(.vtex-button__label){
    padding-left: 0;
    padding-right: 5px;
}