.sellingPriceValue--VPPrecioVenta .currencyContainer--VPPrecioVenta{
    font-size: 17px;
    font-weight: 600;
    text-decoration: none;
    color: #444242;
}

.listPriceValue--VPPrecioLista{
    color: #CA6231;
}

.listPriceValue--VPPrecioLista .currencyContainer--VPPrecioLista{
    font-size: 12px;
    font-weight: 400;
    color: #5B5B5F;
    text-decoration: none;
}

:global(.vtex-flex-layout-0-x-flexRowContent--list-price-savings) .sellingPrice .sellingPriceValue .currencyContainer{
    color: #CA6231;
    font-size: 48px;
}

:global(.vtex-flex-layout-0-x-flexRowContent--list-price-savings) .listPriceValue{
    color: #CA6231;
    font-size: 24px;
}

:global(.vtex-flex-layout-0-x-flexRowContent--list-price-savings) .listPriceValue .currencyContainer{
    color: #959599;
}

@media screen and (max-width: 500px) {
    :global(.vtex-flex-layout-0-x-flexRowContent--list-price-savings) .listPriceValue{        
        font-size: 14px;
    }

    :global(.vtex-flex-layout-0-x-flexRowContent--list-price-savings) .sellingPrice .sellingPriceValue .currencyContainer{        
        font-size: 34px;
    }    
}

@media screen and (max-width: 400px) {
    .sellingPriceValue--VPPrecioVenta,
    .sellingPriceValue--VPPrecioVenta .currencyContainer--VPPrecioVenta{
        font-size: 13px;
    }

    .listPriceValue--VPPrecioLista,
    .listPriceValue--VPPrecioLista .currencyContainer--VPPrecioLista{
        font-size: 10px;
    }
}