.homeIcon{
    display: none;
}

.container .homeLink::after {
    width: 21px;
    height: 21px;
    content: "INICIO";
    font-size: 11px;
}

.term,
.caretIcon,
.link {
    font-size: 11px;
    color: #000;
}

@media screen and (max-width: 800px) {
    .container {
        background-color: #EFEDEA;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .arrow {
        display: flex;
        align-items: center;
    }
}