.paragraph--TextoSliderHome{
    font-size: 11.72px;
    color: #5B5B5F;
    text-align: justify;
    padding-right: 10px;
}

.strong--TextoSliderHome{
    text-transform: uppercase;
    font-size: 20.58px;
}

.paragraph--TextoSliderHome2{
    font-size: 11.72px;
    color: #5B5B5F;
    text-align: justify;
}

.wrapper--textoSeguirComprando{
    text-align: end;
    margin-right: 15px;
}
   
   .paragraph--textoSeguirComprando{
    text-align: center;
   }
   
   .link--textoSeguirComprando{
     color: #000;
     text-transform: uppercase;
   }

   .paragraph--subText,
  .paragraph--TextoTecnologiaVTEX,
  .paragraph--TextoXtrategik{
    font-size: 11.72px;
    color: #5B5B5F;
  }

  .paragraph--subText{
    font-size: 10px;
    max-width: 1200px;
    text-align: justify;
  }

  .paragraph--notification{
    color: #fff;
    margin: 5px 0;
    font-size: 16px;
  }
   
  .container--linkCategoria{
    background-color: #CA6231;
    padding: 0 20px;
  }

  .container--linkDepartamentos2{
    padding: 0 20px;
  }

  .link--linkCategoria2,
  .link--linkCategoria{
    font-size: 14px;
    color: #fff;
    text-decoration: none;
  }

  .strong--linkCategoria2,
  .strong--linkCategoria{
    text-decoration: underline;
  }

  .paragraph--categoria-menu-titulo,
  .paragraph--la-tienda-menu-titulo{
    font-size: 12px;
    color: #E2261E;
  }

  .paragraph--sitio-seguro{
    font-size: 11.08px;
    padding-right: 10px;
}

.container--TextoSuscribete{
  display: flex;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
}

.container--TextoSuscribete .paragraph--TextoSuscribete{
  font-size: 23px;
}

.strong--TextoSuscribete{
  font-size: 31.67px;
}

.container--titleShelfHome{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.paragraph--titleShelfHome{
  font-size: 20.58px;
  color: #5B5B5F;
}

.paragraph--TextoSliderHome2{
  padding-left: 10px;
}

.paragraph--titleheader{
  font-size: 14px;
  color: #444242;
  font-weight: 600;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #444242;
}

.wrapper--titleJardineria .paragraph--titleheader::before{
  content: url("assets/img/jardineria.svg");
  width: 41px;
  height: 41px;
  margin-right: 10px;
  background-position: 50%;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}

.wrapper--titleIluminacion .paragraph--titleheader::before{
  content: url("assets/img/iluminacion.svg");
  width: 39px;
  height: 39px;
  margin-right: 10px;
  background-position: 50%;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}

.wrapper--titleElectricos .paragraph--titleheader::before{
  content: url("assets/img/electricos.svg");
  width: 40px;
  height: 40px;
  margin-right: 10px;
  background-position: 50%;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}

.wrapper--titleSeguridad .paragraph--titleheader::before{
  content: url("assets/img/seguridad.svg");
  width: 41px;
  height: 41px;
  margin-right: 10px;
  background-position: 50%;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}

.wrapper--titleAutomotriz .paragraph--titleheader::before{
  content: url("assets/img/automotriz.svg");
  width: 39px;
  height: 39px;
  margin-right: 10px;
  background-position: 50%;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}

.wrapper--titleHerramienta .paragraph--titleheader::before{
  content: url("assets/img/herramientas.svg");
  width: 40px;
  height: 40px;
  margin-right: 10px;
  background-position: 50%;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}

.wrapper--titleAlmacenadores .paragraph--titleheader::before{
  content: url("assets/img/almacenadores.svg");
  width: 39px;
  height: 39px;
  margin-right: 10px;
  background-position: 50%;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}

.wrapper--titleEquipos .paragraph--titleheader::before{
  content: url("assets/img/equipos.svg");
  width: 40px;
  height: 40px;
  margin-right: 10px;
  background-position: 50%;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}

.paragraph--textPLP{
  font-size: 14px;
  cursor: pointer;
}

.paragraph--textPLP:hover{
  color: #CA6231;
}

.strong--separador{
  color: #BBBBBC;
}

.wrapper--notFoundMain .paragraph--notFoundMain:last-child{
  font-size: 18px;
  text-transform: uppercase;
  border-top: 1px solid #1A3B5B;
  padding-top: 10px;
  color: #5B5B5F;
}

.strong--notFoundMain{
  font-size: 20px;
}

.paragraph--error404{
  color: #fff;
}

.paragraph--error404 .strong--error404{
  font-size: 29px;
}

.paragraph--error404 .strong--error404:last-child{
  color: #CA6231;
}