.flexRowContent--container-tab-shelf,
.flexRowContent--Slider-and-Text2, 
.flexRowContent--Slider-and-Text {
    max-width: 1200px;
    margin: 0 auto;
    padding-right: 20px;
    padding-left: 20px;
}

.flexRowContent--Slider-and-Text .flexColChild--image {
    justify-content: end;
    display: flex;
}

.flexRowContent--Slider-and-Text .flexColChild--image2 {
    justify-content: start;
    display: flex;
}

.flexRowContent--add-to-cart :global(.vtex-button) {
    border: 0;
    background-color: #CA6231;
    border-radius: 0;
}

.flexRowContent--add-to-cart {
    justify-content: space-between;
}

.flexCol--SeguirComprando {
    flex-direction: column-reverse;
    margin-bottom: 20px;
}

.flexRowContent--SeguirComprando {
    padding: 0 20px;
}

.flexColChild--SeguirComprando:first-child {
    width: 100%;
    text-align: end;
}

.flexRowContent--qttyPrice-row {
    flex-direction: column;
}

.flexRowContent--qttyPrice-row .stretchChildrenWidth:first-child {
    width: 100% !important;
}

.flexCol--col-one-header {
    flex-direction: row;
}

.flexColChild--wishlist :global(.vtex-menu-2-x-styledLinkContent)::before {
    background: url("assets/icons/WishlistHeader.svg");
    width: 17px;
    height: 17px;
    content: "";
    background-position: 50%;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    margin-right: 10px;
    display: flex;
}

.flexColChild--orders :global(.vtex-menu-2-x-styledLinkContent)::before {
    background: url("assets/icons/pedidosHeader.svg");
    width: 17px;
    height: 17px;
    content: "";
    margin-right: 10px;
    background-position: 50%;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    display: flex;
}

.flexColChild--whatsapp :global(.vtex-menu-2-x-styledLinkContent)::before {
    background: url("assets/icons/whatsappHeader.svg");
    width: 15px;
    height: 15px;
    content: "";
    background-position: 50%;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    margin-right: 10px;
    display: flex;
}

.flexCol--orders,
.flexCol--whatsapp,
.flexCol--wishlist {
    justify-content: center;
}

.flexColChild--orders :global(.vtex-menu-2-x-styledLinkContent),
.flexColChild--whatsapp :global(.vtex-menu-2-x-styledLinkContent),
.flexColChild--wishlist :global(.vtex-menu-2-x-styledLinkContent) {
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
}

.flexCol--logo-two {
    justify-content: center;
    padding: 0 20px;
}

.flexRowContent--main-header {
    background-color: #fff;
}

.flexRowContent--Footer-Xtrategik {
    justify-content: start;
    max-width: 1200px;
    margin: 0 auto;
    border-top: 1px solid #BBBBBC;
}

.flexRow--FourImage{
    padding-bottom: 20px;
}

.flexRowContent--FourImage {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.flexRowContent--Footer-Xtrategik-CT {
    align-items: center;
    gap: 10px;
}

.flexCol--info-pdp{
    padding-left: 30px;
    padding-top: 40px;
}

.flexRowContent--price-wishlist .stretchChildrenWidth:first-child{
    width: 100% !important;
}

.flexRow--notification {
    background-color: #CA6231;
}

.flexRowContent--notification {
    max-width: 1200px;
    margin: 0 auto;
    justify-content: space-around;
}

.flexColChild--col-two-header:last-child {
    width: 100%;
}

.flexRow--row-two-header {
    background-color: #20211D;
}

.flexRowContent--Footer-subText,
.flexRowContent--tienda-terminos-legales {
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 24px;
    padding-right: 24px;
}

.flexRowContent--tienda-terminos-legales {
    padding-top: 30px;
}

.flexCol--CamposFormFooterRed {
    align-items: flex-end;
}

.flexRowContent--RedesFooter {
    gap: 6px;
}

.flexRowContent--sitio-seguro {
    align-items: center;
}

.flexRowContent--slider-main-carrousel {
    margin-top: 20px;
}

.flexCol--newsletterInputCheck .flexColChild--newsletterInputCheck:last-child {
    justify-content: flex-end;
    display: flex;
}

.flexCol--CamposFormFooter .flexColChild--CamposFormFooter {
    width: 100%;
}

.flexCol--newsletterInput {
    gap: 10px;
    padding-bottom: 20px;
}

.flexCol--headerMenu {
    align-items: start;
}

.flexRowContent--menu-header {
    gap: 20px;
}

.flexCol--filterCol {
    max-width: 394px;
    min-width: 230px;
}

.flexCol--filterCol .flexColChild--filterCol {
    height: auto !important;
}

.flexRow--slider-main-brands{
    margin: auto;
    max-width: 1140px;
}

.flexRow--contentPLP-container,
.flexRow--breadcrumb-container{
    max-width: 1180px;
    min-width: 1180px;
    margin: 0 auto;
}

.flexRow--bannerSearch :global(.vtex-store-components-3-x-container){
    padding: 0;
    margin: 0;
    max-width: 100%;
}

.flexRow--searchFlotante{
    position: fixed;
    top: 40%;
    padding: 0 0 0 0;
    right: 0;
    z-index: 999;
  }
  
  .flexRow--searchFlotante :global(.vtex-store-components-3-x-container){
    padding: 0;
  }

  .flexRow--productSpecifitation,
  .flexRow--pdpRecomendation,
  .flexRow--product-main,
  .flexRow--description,
  .flexRow--product-breadcrumb{
    max-width: 1180px;
    margin: 0 auto;
  }

  .flexRowContent--buy-button .stretchChildrenWidth:first-child{
    justify-content: center;
  }

  .flexRowContent--list-price-savings{
    align-items: center;
  }

  .flexRowContent--errorMain,
  .flexRowContent--notfound{
    max-width: 1150px;
    margin: 0 auto;    
  }

  .flexRowContent--errorMain-mobile{
    display: flex;
    gap: 10px;
  }

  .flexRow--errorMain-mobile,
  .flexRow--errorMain{
    background-color: #000;
  }

  .flexRowContent--Top-contacto-colOne{
    display: flex;
  }

  .flexColChild--error-one :global(.vtex-store-components-3-x-imageElement--notfound){
    background-color: #fff;
    max-width: 326px;
    max-height: 50px;
  }

  .flexCol--error-one{
    justify-content: center;
    align-items: flex-end;
  }

  .flexColChild--error-one:first-child{
    width: 100%;
  }

  .flexColChild--col-two-header:first-child .flexRow--row-one-header{
    max-width: 1200px;
    margin: 0 auto;
  }
  .flexColChild--col-two-header:first-child {
    width: 100%;
  }

  .flexRowContent--row-one-header{    
    justify-content: space-between;
  }

  .flexRow--BannerContact,
  .flexRow--mainContenedorP,
  .flexRowContent--textosContactenosP{
    max-width: 1160px;
    margin: 0 auto;
  }

  .flexRow--textosContactenosP{
    background-color: #F6F6F7;
  }
  

  .flexRow--ContenedorP :global(.vtex-store-components-3-x-container ){
    padding: 0;
    margin: 0;
    max-width: 100%;
  }

  .flexRowContent--row-two-header{
    max-width: 1200px;
    margin: 0 auto;
  }

  .flexRow--tienda-terminos-legales{
    background-color: #ECEDEF ;
  }

  .flexRowContent--product-main{
    background: linear-gradient(to right, white 0%, white 50%, #F6F6F7 50%, #F6F6F7 100% );
  }

  .flexRowContent--mainContenedorP :global(.vtex-textarea__label),
.flexRowContent--mainContenedorP :global(.vtex-input__label){
  display: none;
}

.flexRowContent--mainContenedorP :global(.vtex-input-prefix__group){
  margin: 10px 0;
  border-color: #CA6231;
  border-radius: 0;
}


.flexColChild--textosContactenos {
    display: flex;
    align-items: center;
}

.flexCol--ContactenosDer :global(.vtex-textarea__input){
    border-color: #CA6231;
    border-radius: 0;
}

.flexRowContent--main-header-mobile{
    justify-content: center;
}

.flexRow--main-header-mobile{
    background-color: #fff;
}

.flexRow--menu-header-items-mobile{
    background-color: #000;
}

.flexCol--search{
    justify-content: center;
}

.flexRowContent--ContenedorPpqrs{
    max-width: 1180px;
    margin: 0 auto;
    padding-right: 20px;
    padding-left: 20px;
    gap: 20px;
}

.flexColChild--textospqrs :global(.vtex-textarea__label),
.flexColChild--textospqrs :global(.vtex-input__label){
    display: none;
}

.flexRowContent--cajaspqrs{
    gap: 5px;
}

.flexRowContent--checkBox-submit :global(.vtex-button){
    width: 100%;
    background-color: #70A73B;
    border: 0;
    border-radius: 0;
}

.flexColChild--textospqrs :global(.vtex-textarea__input),
.flexColChild--textospqrs :global(.vtex-input-prefix__group){
    border-color: #CA6231;
    border-radius: 0;
    margin: 5px 0;
}

.flexRowContent--adjuntar :global(.vtex-styleguide-9-x-container){
    background-color: #CA6231;
    border-color: #CA6231;
    border-radius: 0;
  }
  
  .flexRowContent--adjuntar :global(.vtex__icon-caret-down){
    color: #CA6231;
    width: 100%;
    display: flex;
  }
  
  .flexRowContent--adjuntar :global(.vtex__icon-caret-down)::before{
    content: "Adjunta un archivo";
    color: #fff;
    font-size: 16px;
  }
  
  .flexRowContent--adjuntar :global(.vtex__icon-image){
    color: #CA6231;
    width: 100%;
    display: flex;
  }
  
  .flexRowContent--adjuntar :global(.vtex__icon-image)::before{
    content: "Adjunta un archivo";
    color: #fff;
    font-size: 16px;
  }

  .flexRowContent--ContenedorPpqrs :global(.vtex-checkbox__inner-container){
    border-color: #CA6231;
  }

  .flexRowContent--ContenedorPpqrs :global(.vtex-checkbox__label){
    font-size: 13px;
  }

  .flexRowContent--ContenedorPpqrs :global(.vtex-checkbox__line-container){
    display: flex;
    align-items: center;
    padding: 10px 0;
  }

  .flexRowContent--ContenedorPpqrs :global(.vtex-input){    
    padding: 10px 0;
  }

  .flexCol--error-one-mobile{
    gap: 10px;
    justify-content: space-between;
}


@media screen and (max-width: 800px) {
    .flexRowContent--Slider-and-Text{
        flex-direction: column;
    }
    .flexRowContent--Slider-and-Text2{
        flex-direction: column-reverse;
    }
    .flexRowContent--Slider-and-Text2 .stretchChildrenWidth,
    .flexRowContent--Slider-and-Text .stretchChildrenWidth   {
        width: 100% !important;
    }

    .flexColChild--whatsapp :global(.vtex-menu-2-x-styledLinkContent)::before {
        width: 33px;
        height: 33px;
        padding-right: 0;
        margin-right: 0;
    }

    .flexColChild--whatsapp :global(.vtex-menu-2-x-styledLinkContent){
        font-size: 0;
    }

    .flexRowContent--notification{
        display: flex;
        flex-direction: row;
    }

    .flexRowContent--price-wishlist .stretchChildrenWidth:first-child{
        width: 62% !important;
    }

    .flexRowContent--price-wishlist .stretchChildrenWidth:last-child{
        width: 38% !important;
    }

    .flexRow--mainContentMobile{
        background-color: #F6F6F7;
    }

    .flexRowContent--RedesSocialesFooter{
        gap: 20px;
    }

    .flexRowContent--newsletter{
        padding: 0 20px;
    }

    .flexCol--newsletterInput{
        gap: 0;
    }

    .flexCol--Footer-Xtrategik-CT-mobile{
        border-top: 1px solid #5B5B5F;
        margin: 0 20px;
    }

    .flexCol--Footer-Xtrategik-CT-mobile .flexColChild--Footer-Xtrategik-CT-mobile{
        width: 100%;
    }

    .flexRowContent--Footer-Xtrategik-CTMobile-row2 {
        justify-content: start;
        align-items: center;
        gap: 10px;
        padding: 0;
    }

    .flexRowContent--sub-header{
        justify-content: center;
    }

    .flexRow--sub-header{
        background-color: #fff;
        padding: 0 20px;
    }

    .flexRowContent--breadcrumb-container{
        flex-direction: column-reverse;
    }

    .flexRow--breadcrumb-container{
        max-width: 100%;
        min-width: 100%;        
    }

    .flexRow--plpMenu{
        padding: 0 20px;
    }

     .flexRowContent--plpMenu .stretchChildrenWidth{
        justify-content: center;
    }

    .flexRow--breadcrumb-container .stretchChildrenWidth{
        width: 100% !important;
    }

    .flexRowContent--searchinfomobile{
        justify-content: space-between;
        padding: 0 10px;
    }

    .flexRowContent--list-price-savings{
        flex-direction: column;
        justify-content: start;
        align-items: flex-start;
    }

    .flexRowContent--buy-button{
        flex-direction: column;
        gap: 10px;
    }

    .flexRow--pdpRecomendation,
    .flexRow--productSpecifitation{
        padding: 0 10px;
    }

    .flexRowContent--notfound{
        flex-direction: column;
    }

    .flexRowContent--mainContenedorP .flexCol--textosContactenos{
        display: none;
    }

    .flexRowContent--mainContenedorP{
        padding: 0 20px;
    }

    .flexRowContent--mainContenedorP :global(.vtex-store-form-0-x-formSubmitButton){
        padding: 20px 0;
        display: flex;
        justify-content: center;
    }

    .flexRowContent--mainContenedorP :global(.vtex-button){
        border-radius: 0;
    }

    .flexRowContent--mainContenedorP :global(.vtex-checkbox__inner-container){
        border-color: #CA6231;
    }
}

@media screen and (max-width: 500px) {
    .flexRow--slider-main-brands{
        padding: 20px 20px;
    }

    .flexRowContent--slider-main-carrousel{
        padding: 0 20px;
    }

    .flexRow--minicart-footer{
        padding: 0 20px;
    }

    .flexRowContent--buy-button{
        display: flex;
    }  

    .flexColChild--whatsapp :global(.vtex-menu-2-x-styledLinkContent)::before {
        width: 27px;
        height: 27px;
        padding-right: 0;
        margin-right: 0;
    }

    .flexRowContent--description,
    .flexRowContent--product-main-mobileOnly{
        padding: 0 10px;
    }

    .flexRowContent--notfound .stretchChildrenWidth   {
        width: 100% !important;
        padding: 0 20px;
    }
}